:root {
  --white: #fff;
  --black: #2B2B2C;
  --chat-grey: #EDEDED;
  --dark-grey: #62646a;
  --lightish-grey: #98999a;
  --lightgrey: #c4c5c6;
  --lightest-grey: #dadbdd;
  --superlight-grey: #f0f0f1;
  --pane-padding: 5px 42px;
  --secondary: #3be8b0;
  --faded-red: #e78267;
  --red: #ff3232;
 
  --transparent-black: rgba(0,0,0,0.2);
  --transparent-white: rgba(255,255,255,0.5);
  /* Error Handling */
  --success-green: #4BB543;
  --error-red: #E03A3E;
  --error-red-light: #ffe5e5;
  /* Font Sizes */
  --xs: 9px;
  --s: 12px;
  --n: 14px;
  --l: 15px;
  --xl: 22px;
  --xxl: 30px;
  --xxl: 35px;
  /* Other */
  --grey-rounded: 1px solid #dadbdd;

}
.App {
  min-height: 100vh;
  width: 100vw;
}
/* Temporary Style Masonry */
.masonry-wf > div {
  position: relative;
}
.barber-popup {
  z-index: 1;
}
html,body {
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.line {
  text-decoration: line-through;
}

textarea {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Domine', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 18px;
  }
}

.marker-fix-20 {
  top: -20px !important;
}

.marker-fix-10 {
  top: -10px !important;
}

video {
  object-fit: cover !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.flag-sm {
  line-height: 0.7em !important;
  width: 1em !important;
}
